{% extends "base.html" %}
{% load i18n  mezzanine_tags staticfiles %}
{% block meta_title %}{% trans "Home" %}{% endblock %}
{% block title %}{% trans "Home" %}{% endblock %}
{% block breadcrumb_wrapper %}
{% endblock %}

{% block title_wrapper %}
{% endblock %}

{% block breadcrumb_menu %}
<li class="active">{% trans "Home" %}</li>
{% endblock %}


{% block all_content %}
<section id="{% block section_id %}featured{% endblock %}">
{% block left_wrapper %}
{% endblock %}


{% block main_wrapper %}
<div class="col-md-{% block main_col_size %}none{% endblock %} {% block main_class %}{% endblock %}">
{% block main %}


<!-- start slider -->
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
	<!-- Slider -->
        <div id="main-slider" class="flexslider">
            <ul class="slides">
              <li>
                <img src="{% static "img/slides/1.jpg" %}" alt="" />
                <div class="flex-caption">
                    <h3>People</h3>
                    <p>This is an example of a photo with a person</p>
                </div>
              </li>
              <li>
                <img src="{% static "img/slides/2.jpg" %}" alt="" />
                <div class="flex-caption">
                    <h3>Inside the Church</h3>
					<p>Sodales neque vitae justo sollicitudin aliquet sit amet diam curabitur sed fermentum.</p>
                </div>
              </li>
              <li>
                <img src="{% static "img/slides/3.jpg" %}" alt="" />
                <div class="flex-caption">
                    <h3>The Cross</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit donec mer lacinia.</p>
                </div>
              </li>
            </ul>
        </div>
	<!-- end slider -->
			</div>
		</div>
	</div>

{% endblock %}
</div>
{% endblock %}
{% block right_wrapper %}
{% endblock %}
</section>
<section class="callaction">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="big-cta">
					<div class="cta-text">
						<h2><span>Our Lady of Lourdes Church</span> A Church Community in San Francisco</h2>
                        <h4>“Tucked away in the southeastern section of San Francisco, is what is popularly called the Bayview-Hunters Point district, lives a vibrant faith community known as Our Lady of Lourdes parish. Unfortunately, this community is a fairly well-kept secret. It seems as though the only time the media sees fit to report on this part of the city is to record some act of violence or tragedy. The good work of the community goes largely unnoticed”.</h4>
						<h6> <i>Taken from the Catholic San Francisco, May 6th, 2005</i></h6>
					</div>
				</div>
			</div>
		</div>
	</div>
	</section>
<section id="content">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="row">
					<div class="col-lg-3">
						<div class="">
							<div class="box-gray aligncenter">
								<h4>Masses</h4>
								<div class="">
								</div>
								<p class="">
								 For upcomming masses, pleases click below.
								</p>

							</div>
							<div class="box-bottom">
								<a href="/masses/">Mass Schedule</a>
							</div>
						</div>
					</div>
					<div class="col-lg-3">
						<div class="">
							<div class="box-gray aligncenter">
								<h4>History of Our Lady of Lourdes</h4>
								<div class="icon">
								</div>
								<p>
								Read a brief history of Our Lady of Lourdes.
								</p>

							</div>
							<div class="box-bottom">
								<a href="/history/">Learn More</a>
							</div>
						</div>
					</div>
					<div class="col-lg-3">
						<div class="">
							<div class="box-gray aligncenter">
								<h4>Upcomming Events</h4>
								<div class="icon">
								</div>
								<p>
								To find a list of our upcomming events, please click in.
								</p>

							</div>
							<div class="box-bottom">
								<a href="/events/">View Upcomming Events</a>
							</div>
						</div>
					</div>
					<div class="col-lg-3">
						<div class="">
							<div class="box-gray aligncenter">
								<h4>Staff and Organizations</h4>
								<div class="icon">
								</div>
								<p>
							    Meet the people who keep our community strong.
								</p>

							</div>
							<div class="box-bottom">
								<a href="/staff/">Meet Our Staff</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
        <iframe width=100% height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=410%20Hawes%20St%2C%20San%20Francisco%2C%20CA%2C%20United%20States&key=AIzaSyCFFYdMvT11svWIrz6C-PfULLXR2xYmLV4"></iframe>
		<!-- divider -->
		<div class="row">
			<div class="col-lg-12">
				<div class="solidline">
				</div>
			</div>
		</div>
		<!-- end divider -->
	</div>
	</section>

{% endblock %}
